Library/Service References/LibraryServiceWCF/LibraryDAL.Pagination.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibraryDAL.Pagination" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibraryDAL.Pagination" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LibraryDAL.Sorting" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PaginationInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="FromRow" type="xs:int" />
      <xs:element minOccurs="0" name="OrderPropertyName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibraryDAL.Sorting" minOccurs="0" name="SortOrder" type="q1:SortOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginationInfo" nillable="true" type="tns:PaginationInfo" />
</xs:schema>